<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>en</string>
    <key>CFBundleExecutable</key>
    <string>ColorPickerFixer</string>
    <key>CFBundleIdentifier</key>
    <string>com.gavinpackett.colorpicker</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>ColorPickerFixer</string>
    <key>CFBundlePackageType</key>
    <string>BNDL</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>NSColorPickerClasses</key>
    <array>
        <string>ColorPickerFixer.ColorPickerFixer</string>
    </array>
    <key>NSPrincipalClass</key>
    <string>ColorPickerFixer.ColorPickerFixer</string>
</dict>
</plist>
